@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "./main/global";
@import "./main/top_header";
@import "./main/header";
@import "./main/banner_worp";
@import "./main/about_worp";
@import "./main/do_contac_worp";
@import "./main/recent_worp";
@import "./main/img_inner";
@import "./main/light_box";
@import "./main/discover_worp";
@import "./main/taem_member_worp";
@import "./main/member_worps";
@import "./main/blog_worp";
@import "./main/slider_worp";
@import "./main/Tab_worp";
@import "./main/footer_about";
@import "./main/footer_worp";


// responsive //

@import "./main/responsive";