.about_worp {
    min-height: 466px;
    background-color: #fafafa;
    .img_back {
        .back_ground {
            position: relative;
            margin-top: -100px;
            .img_clorbg {
                .hid {
                    max-width: 536px;
                    height: auto;
                }
            }
            .img_clorbg2 {
                position: absolute;
                top: 30px;
                left: 30px;
                .hid {
                    max-width: 536px;
                    height: auto;
                }
            }
        }
    }
    .abut_banner {
        .abut_pra_top {
            font-size: 12px;
            margin-top: 90px;
            color: #808080;
            text-transform: uppercase;
        }
        .abut_Tex{
            font-size: 30px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 20px;
            color: #444444;
            .abut_spn {
                color: #8bc34a;
            }
        }
        .abut_pra{
            margin-bottom: 30px;
            color: #8c8c8c;
        }
        .larn_btn {
            display: inline-block;
            text-decoration: none;
            border-radius: 50px;
            transition: all 0.5s;
            text-transform: uppercase;
            font-family: 'Poppins', sans-serif;
            box-shadow: none;
            color: #fff;
            background: #8bc34a;
            padding: 12px 35px;
            border: 1px solid #8bc34a;
            box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 18%);
            &:hover {
                background: transparent;
                color     : #8bc34a;
                box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 18%);
                border: 1px solid #f7f7f7;
                background-color: #f7f7f7;
            }
        }
    }
}
