.banner_wporp {
    min-height: 800px;
    background-color: transparent;
    background-image: url(../img/bannner_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .main_slider_baner {
        .hd_banner {
            text-align: center;
            .hedrtTex {
                font-family: 'Poppins', sans-serif;
                color      : #fff;
                font-size  : 61px;
                text-transform: uppercase;
                font-weight: 700;
                margin: 0;
            }
            .ban_pra {
                font-size  : 22px; 
                margin-top: 250px;
                font-family: 'Poppins', sans-serif;
                color      : #fff;
            }
            .praTex {
                font-size  : 18px;
                font-family: 'Poppins', sans-serif;
                color      : #fff;
                margin     : 30px auto;
                max-width: 920px;
            }
            .btn_btun {
                display: inline-block;
                text-decoration: none;
                border-radius: 50px;
                transition: all 0.5s;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                margin: 30px 40px 30px 0;
                outline: none;
                font-weight: 600;
                color: #fff;
                background: #8bc34a;
                padding: 17px 50px;
                &:hover {
                    background: transparent;
                    color     : #8bc34a;
                    background-color: #fff;
                    
                }
            }
            .btn_btun2 { 
                position: relative;
                display        : inline-block;
                text-decoration: none;
                padding: 17px 50px;
                font-size      : 16px; 
                border-radius: 50px;
                font-family: 'Poppins', sans-serif;
                transition     : all 0.5s;
                text-transform : uppercase;
                outline: none;
                font-weight    : 600;
                color          : #8bc34a;
                background-color: #fff;
                &:hover {
                color: #fff;
                    background: #8bc34a;
                }
            }
        }
    }
    .slick-dots {
        bottom: -180px;
        margin: auto 0;
    }
}

