.business_woro {
    padding: 100px 0 140px 0;
    background-color: #f7f7f7;
    .business {
        .business_item {
            .busness_h {
                font-size: 30px;
                font-weight: 600;
                margin: 0px 30x 0;
                margin: 0 0 30px 0;
                color: #444444;
            }
            .bus_pea2,
            .bus_p {
                color: #909090;
                margin-bottom: 15px;
                font-size: 14px;
            }
        }
        .business_item_img {
            .bus_img {
                width: 460px;
                height: 290px;
            }
        }
    }
}