.discover_worp {
    min-height: 285px;
    // background-color: #343434;
    border-bottom: 5px solid #8bc34a;
    background-image: url(../img/bannner_1.png);
    .disover{
        .dis_hed{
            color: #fdfdfd;
            font-size: 30px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 124px 0;
        }
        .dis_buton {
            margin-bottom: -15px;
            .buton {
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                border-radius: 50px;
                padding: 24px 160px;
                background-color: #8bc34a;
                text-decoration: none;
                transition: all 0.5s;
                box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 18%);
                &:hover {
                    color: #8bc34a;
                    background-color: #fff;
                    box-shadow: 0px 4px 6px 0px rgb(12 0 46 / 18%);
                }
            }
        }
    }
}