.footer_abut { 
    background-color: #262626;
    border-bottom: 1px solid #aeaeb8;
    .colr_bg {
        background-color: #303030;
    }
    .ftr_item {
        margin: 100px 15px 75px 15px;
        .h_info {
            color: #6b6b6b;
            font-size: 20px;
            margin-bottom: 42px;
        }
        .h_logo {
            margin: 60px 0px 30px 0;
        }
        .p_aplin {
            color: #6b6b6b;
            margin-bottom: 10px;
            max-width: 287px;
            font-size: 16px;
        }
        .icon_items {
            color:#6b6b6b;
            position: relative;
            i {
                color: #b7aeae;
                font-size: 22px;
                margin-right: 20px;
            }
            .icon_pra,
            .icon_p {
                margin-bottom: 0px;
                color: #6b6b6b;
            }
           
            .sdicon {
                margin: 8px 8px;
                color: #6b6b6b;
                transition: all 0.5s;
                overflow: hidden;
                &:hover {
                    color: #fff;
                    transform: scale(1.2);

                }
                
            }
            .ttr {
                color: #6b6b6b;
            }
            .sent {
                border: 1px solid #6d6d6d;
                background-color: transparent;
                border-radius: 50px;
                padding: 5px 15px;
                outline: none;
                box-shadow: none;
                color: #fff;
                font-size: 14px;
                
            }
            .sending {
                position: absolute;
                top: 7px;
                right: 0px;
                font-size: 16px;
            }
            
        }
        .flx {
            display: flex;
        }
        .icon_pra {
            color: #6b6b6b;
            span {
               font-size: 10px;
            }
        }
    }
}

