.footer {
    background-color: #1c1c1c;
    .footer_coprit {
        position: relative;
        .copyrit {
            padding: 20px 0;
            color: #6d6d6d;
            font-size: 13px;
            margin: 0;
            .c_txt {
                color: #87bd4a;
            }
        }
        .up_icon {
            transition: all 0.5s;
            a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
} 
.footer {
    .footer_coprit {
        .up_iconFixd {
            transition: all 0.5s;
            position: fixed;
            bottom: 30px;
            right: 10px;
            padding: 10px 15px;
            color: #fff;
            background-color: #87c34a;
            border-radius: 50%;
        } 
    }
}