* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

