.header {
    padding   : 0 0 20px 0;
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    transition: all 0.5s;
    z-index   : 1080;
    .h_nav {
        .hedr_collapse {
            .ul_nav{
                .nav-item{
                    .nav-link{
                        position       : relative;
                        font-size      : 14px;
                        margin-right   : 55px;
                        border-bottom  : 1px solid transparent;
                        text-decoration: none;
                        padding        : 7px 0px 0px 0px;
                        color          : #fff;
                        transition     : all 0.5s;
                        text-transform: uppercase;
                        &::before {
                            position  : absolute;
                            content   : "";
                            bottom    : 0;
                            right     : 50%;
                            width     : 0;
                            height    : 1px;
                            background: #8bc34a;
                            opacity   : 0;
                            transition: all 0.5s;
                        }
                        &.active,
                        &:hover {
                            color: #8bc34a;
                            &::before {
                                width  : 100%;
                                right  : 0;
                                opacity: 1;
                            }
                        }

                    }
                }
                .h_search {
                    color: #fff;
                    margin: 10px 0;
                }
            }
        }
        button,
        &.nav_toggler {
            outline: none;
            border: 0;
            position: relative;
            .navbar_icon {
                margin-right: -15px;
                .itm_sss {
                    display: block;
                }
                .cros_manu { 
                   .cros_item {
                        display: block;
                        height: 40px;
                    }
                }
                .itm_sss {
                    width: 27px;
                    padding: 2px;
                    margin: 6px 0;
                    background-color: #8bc34a;
                    border-radius: 10px;
                }
                .cros_manu {
                    .cros_item::before,
                    ::after {
                        width: 4px;
                        background: #8bc34a;
                        content: "";
                        position: absolute;
                        top: 20%;
                        left: 50%;
                        bottom: 20%;
                        border-radius: 5px;
                        
                    }
                    .cros_item::before {
                        transform: rotate(45deg);
                    }
                    .cros_item::after  {
                        transform: rotate(-45deg);
                    }
                }
                
            }
            &[aria-expanded="true"] {
                transition:  all 0.5s;
                .navbar_icon {
                    .itm_sss {display: none;}
                    .cros_manu {
                        display: block;
                    }
                }
            }
            &[aria-expanded="false"] {
                .navbar_icon {
                    .itm_sss {display: block;}
                    .cros_manu {
                        display: none;
                    }
                }
            }
        }

        
    }
    &.fixedMenu {
        background-color: #fff;
        top: 0px;
        left: 0px;
        padding: 0px 0 15px 0;
        box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
        .navbar {
            .hedr_collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #000;
                            &::before {
                                background: #000;
                            }
                        }
                    }
                    .h_search {
                        color: #b5b5b5;
                        margin: 10px 0;
                    }
                }



            }
        }
        .top_header { 
            padding: 0;
            transition: all 0.5s;
        }
    }
    .top_header {
        background: #343434;
        transition: all 0.5s;
        padding: 10px 0;
        margin-bottom: 15px;
        .top_contac{ 
            display: inline-block;
            color: #000;
            .ft_itme{
                display: flex;
                .icon_t {
                    color: #5c5c5c;
                }
                .p_contac {
                    margin: auto 7px;
                    color: #5c5c5c;
                }
            }
            
        }
    }
    .top_icon {
        float: right;
        .t_manu {
            list-style: none;
            display: flex;
            margin: 0;
            .t_list {
                margin-right: 15px;
                .tp_link{
                    color: #7d7d7d;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }   
    
}
