.member_worps {
    .members {
        .member_col {
            position: relative;
            margin-top: 30px;
            overflow: hidden;
            .img {
                width: 100%;
                height: 300px;
            }
            .member_con {
                padding: 0;
                position: absolute;
                top: 25px;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                opacity: 0;
                transition: all 0.5s;
                visibility: hidden;
                .member_inner {
                    width: 100%;
                    .title {
                        color: #fff;
                        margin: 49px 0;
                        .member_icon {
                            display: inline-block;
                            width: 50px;
                            height: 50px;
                            line-height: 53px;
                            background: rgba(92, 157, 222, 0.5);
                            border-radius: 50%;
                            color: #fff;
                            transition: all 0.5s;
                            &:hover {
                            color: #fafafa;
                            transform: scale(1.2);
                            }
                        }
                        .member_name{
                            margin: 0;
                            font-family: 'Poppins', sans-serif;
                        }
                        .member_title {
                            margin: 0 0 12px 0;
                            font-family: 'Poppins', sans-serif;
                        }
                        .member_pra {
                            font-size: 16px;
                            margin: 0 16px;
                            font-family: 'Poppins', sans-serif;

                        }
                    }
                    .member_icons {
                        background-color: #87bd4a;
                        padding: 12px 16px;
                        width: 100%;
                        .member_tex {
                            padding: 8px 10px;
                            text-decoration: none;
                            color: #fff;
                            &:hover {
                                color: #005aff;
                            }
                        }
                    }
                   
                }
            }
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-image: linear-gradient(-90deg,#44a1abfa, #005aff);
                opacity: 0;
                transition: all 0.5s;
                top: 0;
                left: 0;
            }
            &:hover{
                &::before {
                    opacity: 0.7;
                }
                .member_con {
                    opacity: 1;
                    top: 7px;
                    visibility: visible;
                }
            }
            
        }
    }
}