.recent_worp {
    overflow: hidden;
    margin: 100px 0 0px 0;
    .protfolio_worp {
        .protflo_pra {
            font-size: 10px;
            font-family: 'Poppins', sans-serif;
            color: #808080;
            text-transform: uppercase;
            margin: 0;
        }
        .prtoflo_hed {
            font-size: 30px;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 20px;
            font-family: 'Poppins', sans-serif;
            color: #444444;
            .prtofl_spn {
                color: #8bc34a;
            }
        }
        .border_op {
            position: relative;
            border-bottom: 1px solid #e8e8e8;
            width: 100px;
            margin: 30px auto 95px auto;
            .do_border {
                border-bottom: 4px solid #8bc34a;
                width: 72px;
                margin: 0px auto;
                position: absolute;
                top: -1px;
                left: 15px;
                
            }
        }
        .parteflo_button {
            margin-bottom: 30px;
            
            .btun_deful {
                background-color: transparent;
                padding: 0px 10px;
                font-size: 16px;
                color: #444444;
                border: 0;
                border-right: 1px solid #000; 
                text-transform: capitalize;
                &:last-child {
                    border-right: 2px solid transparent;
                }
                &.active,
                &:hover {
                    color: #a2cf6e;
                    outline: none;
                }
            }
            
        }
    }
    
}