
@media (min-width: 560px) and (max-width: 1023px) {
    .header {
        .h_nav{
            .hedr_collapse{
                .ovwe_scroll {
                    overflow-x: scroll;
                    height: 150px;
                }
            }
        }
    }
 }

@media(max-width: 1024px) {
    .header {
        .h_nav {
            .hedr_collapse {
                .ul_nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                     .h_search {
                        color: #fff;
                    }
                }
            }
        }
    }
    .fixedMenu {
        .navbar {
            .hedr_collapse {
                .navbar-nav {
                    .h_search {
                        color: #8bc34a;
                    }
                }
            }
        }
    }
    .about_worp {
        .img_back {
            .back_ground {
                .img_clorbg {
                    .hid {
                        max-width: 536px;
                    }
                }
                .img_clorbg2 {
                    .hid {
                        max-width: 536px;
                    }
                }
            }
        }
  
        .abut_banner {
            margin-left: 20px;
            .abut_pra_top {
                margin-top: 70px;
            }
        }
    } 
    .do_contac_worp {
        .do_img_back { margin-top: 83px;
            .do_back_ground {
                .do_img_clorbg {
                    .dohid {
                        max-width: 322px;
                        height: auto;
                    }
                }
                .do_img_clorbg2 {
                    .dohid {
                        max-width: 322px;
                        height: auto;
                    }
                }
            }
        }
    }
    .img_back {
        margin: 30px 0 0 0;
    }
    
    .tab_worp {
        .main_tab {
            .tab_manu {
                .main {
                    .tab_list {
                        padding: 20px 83px;
                    }
                }
            }
        }
    }
    .recent_worp {
        .protfolio_worp {
            .parteflo_button {
                .btun_deful {
                    margin-bottom: 10px;
                }
            }
        }
    }
   
    .bus_img {
        width: 100%;
    }
}

// media for ipad pro 
@media (max-width: 991px) {}


@media (max-width: 823px) {
    .header {
        .top_header {
            .top_contac {
                .ft_itme {
                    .p_contac {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .img_back {
        margin: 30px 0 0 150px;
    }
    .recent_worp {
        .protfolio_worp {
            .protflo_pra {
                margin-top: 50px;
            }
        }
    }
    .do_contac_worp {
        .do_img_back {
            .do_back_ground {
                margin-left: 150px;
            }
        }
    }
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .title {
                            margin: 54px 0;
                        }
                    }
                }
            }
        }
    }
    .tab_worp {
        .main_tab {
            .tab_manu {
                .main {
                    .tab_list {
                        padding: 20px 43px;
                    }
                }
            }
        }
    }
    
}

//  media for ipad
@media (max-width: 768px) {
    .header {
        .h_nav {
            .hedr_collapse {
                .ul_nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                     .h_search {
                        color: #fff;
                    }
                }
            }
        }
    }
    .fixedMenu {
        .navbar {
            .hedr_collapse {
                .navbar-nav {
                    .h_search {
                        color: #8bc34a;
                    }
                }
            }
        }
    }
    .top_icon {
        float: right;
        margin-top: 10px;
    }
    .banner_wporp {
        min-height: 700px;
        .main_slider_baner {
            .hd_banner {
                .hedrtTex {
                    font-size: 52px;
                }
                .ban_pra {
                    font-size: 20px;
                }
                .praTex {
                    font-size: 16px;
                }
            }
        }
    }
    .about_worp {
        .img_back {
            .back_ground {
                .img_clorbg2 {
                    .hid {
                        max-width: 435px;
                    }
                }
                .img_clorbg {
                    .hid {
                        max-width: 435px;
                    }
                }
            }
        }
    }
    .img_back {
        margin: 0 0 30px 150px;
    }
    .recent_worp {
        .protfolio_worp {
            .parteflo_button {
                .btun_deful {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .do_contac_worp {
        .do_img_back {
            .do_back_ground {
                position: relative;
                margin: 0 0 30px 150px;
            }
        }
    }
    .business_woro {
        .business {
            .business_item_img {
                .bus_img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .discover_worp {
        .disover {
            .dis_hed {
                font-size: 28px;
            }
            .dis_buton {
                .buton {
                    padding: 22px 100px;
                }
            }
        }
    }
    .tab_worp {
        .main_tab {
            .tab_manu {
                .main {
                    .tab_list {
                        padding: 20px 43px;
                    }
                }
            }
        }
    }
    .bus_img {
        width: 100%;
    }
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .title {
                            color: #fff;
                            margin: 52px 0;
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: 736px) {
    .img_back {
        margin: 0 0 30px 50px;
    }
    .about_worp {
        .img_back {
            .back_ground {
                margin-top: 20px;
            }
        }
    }
    .do_contac_worp {
        .do_img_back {
            .do_back_ground {
                margin: 0 0 30px 50px;
            }
        }
    }
    .tab_worp {
        .main_tab {
            .tab_manu {
                .main .tab_list {
                    padding: 20px 13px;
                }
            }
        }
    }
    .discover_worp {
        .disover {
            .dis_buton {
                .buton {
                    font-size: 14px;
                }
            }
        }
    }
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .title {
                            margin: 64px 0;
                        }
                    }
                }
            }
        }
    }
    .header {
        background-color: transparent;
        .h_nav {
            .hedr_collapse {
                .ul_nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                     .h_search {
                        color: #fff;
                    }
                }
            }
        }
    }
    .fixedMenu {
        .navbar {
            .hedr_collapse {
                .navbar-nav {
                    .h_search {
                        color: #8bc34a;
                    }
                }
            }
        }
    }
}


// media for mobile large
@media (max-width: 420px) {
   
    .banner_wporp {
        .main_slider_baner {
            .hd_banner {
                .hedrtTex {
                    font-size: 36px;
                }
                .praTex {
                    font-size: 14px;
                }
                .btn_btun {
                    padding: 15px 40px;
                    margin: 30px 0px 30px 0;
                }
                .ban_pra {
                    font-size: 14px;
                }
            }
        }
    }
   
    .img_back {
        margin: 0 0 30px 0px;
    }

    .do_contac_worp {
        .do_img_back {
            .do_back_ground {
                  margin: 0 0 30px 0px;
                .do_img_clorbg2 {
                    .dohid {
                        max-width: 290px;
                    }
                }
            }
        }
        .docon_main {text-align: center;
            .do_border {
                margin: 20px auto;
            }
        }
    }
  
    .do_abut_banner {
        text-align: center;
    } 
 
    .tab_worp {
        .main_tab {
            .tab_manu {
                .main {
                    .tab_list {
                        padding: 20px 106px;
                    }
                }
            }
        }
    }
    .discover_worp {
        .disover {
            .dis_buton {
                .buton {
                    padding: 22px 40px;
                }
            }
        }
    }
    .discover_worp {
        .disover {
            .dis_buton {
                .buton {
                    font-size: 14px;
                }
            }
        }
    }
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .member_icons {
                            padding: 33px 16px;
                        }
                        .title {
                            margin: 53px 0;
                        }
                    }
                }
            }
        }
    }
    .footer_abut {
        .ftr_item {text-align: center;
            .flx {
                display: block;
            }
        }
    }
    .about_worp {
        .img_back {
            .back_ground { 
                position: relative;
                margin-top: 20px;
                .img_clorbg {
                    .hid {
                        max-width: 330px;
                    }
                }
                .img_clorbg2 {
                    .hid {
                        max-width: 330px;
                    }
                }
            }
        }
    }
}

// media for mobile small

@media (max-width: 375px) {
    .header {
        .top_header {
            .top_contac {
                .ft_itme {
                    .p_contac {
                        font-size: 14px;
                    }
                }
            }
            .top_icon {
                float: right;
            }
        }
        .h_nav {
            .hedr_collapse {
                .ul_nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                     .h_search {
                        color: #fff;
                    }
                }
            }
        }
    }
    .fixedMenu {
        .navbar {
            .hedr_collapse {
                .navbar-nav {
                    .h_search {
                        color: #8bc34a;
                    }
                }
            }
        }
    }
    .img_back {
        margin: 0 0 30px 0px;
    }
    .banner_wporp {
        .main_slider_baner {
            .hd_banner {
                .ban_pra {
                    font-size: 16px;
                }
                .praTex {
                    font-size: 14px;
                }
            }
        }
    }
    .about_worp {
        .img_back {
            .back_ground {
                margin-top: 32px;
                .img_clorbg,
                .img_clorbg2 {
                    .hid {
                        max-width: 300px;
                        height: auto;
                    }
                }
            }
        }
    }
    .banner_wporp {
        .main_slider_baner {
            .hd_banner {
                .btn_btun {
                    margin: 0 0 17px 0;
                    padding: 15px 40px;
                }
                .btn_btun2 {
                    margin-bottom: 17px;
                    padding: 15px 40px;
                }
            }
        }
    }
  
    .do_abut_banner {
        text-align: center;
    } 
    .docon_main {
        text-align: center;
    }
    
    .do_contac_worp {
        .docon_main {
            .do_border {
                margin: 20px auto;
            }
        }
        .do_img_back {
            .do_back_ground { position: relative;
                margin: 0 0 30px 0px;
                .do_img_clorbg,
                .do_img_clorbg2 {
                    .dohid {
                        max-width: 250px;
                    }
                }
            }
        }
    }
    
    .business_woro {
        .business {
            .business_item {
                .bus_pea2, 
                .business_woro {
                    .business {
                        .business_item {
                            .bus_p  {
                                font-size: 12px;
                            }
                        }
                    }
                }
                .busness_h {
                    font-size: 28px;
                }
            }
        }
    }
    .discover_worp {
        .disover {
            .dis_hed {
                font-size: 22px;
            }
            .dis_buton {
                .buton {
                    font-size: 14px;
                    padding: 15px 25px;
                }
            }
        }
    }
    
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .title {
                            margin: 48px 0;
                        }
                    }
                }
            }
        }
    }
    .blog_worp {
        .blog_left {
            .blog_pra {
                font-size: 12px;
                color: #808080;
            }
        }
    }
    .tab_worp {
        .main_tab {
            .tab_manu {
                .main {
                    .tab_list {
                        padding: 20px 110px;
                    }
                }
            }
        }
    }
    
}
@media (max-width: 360px) {
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .title {
                            margin: 45px 0;
                        }
                    }
                }
            }
        }
    }
    .about_worp {
        .img_back {
            .back_ground {
                .img_clorbg,
                .img_clorbg2 {
                    .hid {
                        max-width: 250px;
                    }
                }
            }
        }
    }
    .do_contac_worp {
        .do_img_back {
            .do_back_ground {
                .do_img_clorbg,
                .do_img_clorbg2 {
                    .dohid {
                        max-width: 210px;
                    }
                }
            }
        }
    }
    .discover_worp {
        .disover {
            .dis_buton {
                .buton {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .banner_wporp {
        .main_slider_baner {
            .hd_banner {
                .ban_pra {
                    font-size: 10px;
                }
                .hedrtTex {
                    font-size: 27px;
                }
                .praTex {
                    font-size: 12px;
                }
            }
        }
    }
    .banner_wporp {
        .main_slider_baner {
            .hd_banner {
                .btn_btun,
                .btn_btun2 {
                    margin: 0 0 17px 0;
                    padding: 13px 30px;
                    font-size: 14px;
                }
            }
        }
    }
    .about_worp {
        .img_back {
            .back_ground {
                .img_clorbg,
                .img_clorbg2 {
                    .hid {
                        max-width: 250px;
                    }
                }
            }
        }
    }
    .do_contac_worp {
        .do_img_back {
            .do_back_ground {
                .do_img_clorbg,
                .do_img_clorbg2 {
                    .dohid {
                        max-width: 210px;
                    }
                }
            }
        }
    }
    
    .discover_worp {
        .disover {
            .dis_buton {
                .buton {
                    font-size: 12px;
                }
            }
        }
    }
    .member_worps {
        .members {
            .member_col {
                .member_con {
                    .member_inner {
                        .title {
                            margin: 43px 0;
                        }
                    }
                }
            }
        }
    }
    
}
// the end responsive //